

{% extends "../base/navbar.html" %}
{% load static %}

{% block content %}


<style>
.boks {
    
    align-items: stretch;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  height: 100%;
  padding: 20px;
  justify-content: center;
}

.containerbk {
    align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.card__info {
  height: 60px;
}

.card__title {
  font-size: small;
}

.cardsbk {
  border-radius: 8pt;
  box-sizing: border-box;
  height: 4000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 15px;
gap: 16px;
}

.card__time {
  font-size: 12px;
  color: #ad7d52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 180px;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 210px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-right: 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 200px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.row {
  display: flex;
  flex-direction: row;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.trailer-preview {
  background-color: #ff3d49;
  position: absolute;
  right: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 13px;
}

.titleblock {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.15);
  margin: auto;
  max-width: 99%;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  border-style: solid;
  padding: 12px 24px 24px 24px;
}






/*  
background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookinfo{


    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #444;
 
   
    display: flex;
    align-items: center;
    justify-content: center;
}



.book {
    width: 90%;
    max-height: 550px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
   overflow: hidden;


   
}

.book__hero {
  flex: 0 0 45%;
}

.book__img {
    width: 65%;
    display: block;
}

.book__content {
    background-color: #fff;
    flex: 1;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.book__price {
    background:linear-gradient(to bottom, #A9C9FF 0%, #1fb634 100%);
    flex: 0 0 50px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading__primary {
    font-size: 16px;
    margin-right: auto;
    color: #1fb634;
}

.fa-fire {
    color: salmon;
}

.book__tag {
    font-size: 10px;
    color: #fff;
  padding: 2px 7px;
  border-radius: 100px;
  margin-right: 8px;
  display: block;
  text-transform: uppercase;

}

.book__tag--1 {
  background-color: #A9C9FF;
}

.book__tag--2 {
    background-color:#FFBBEC;
}

.book__description {
    font-size: 14px;
}

.book__details {
    display: flex;
    margin: auto;
}

.book__detail {
   font-size: 13px;
   margin-right: 20px;
   display: flex;
   align-items: center;
}

.icons i {
    margin-right: 3px;
    font-size: 18px;
}

.icons-red {
    color: salmon;
}
.icons-grey {
    color: grey;
}

.icons-yellow {
    color: rgb(190, 190, 71);

}
</style>


  



    {% for books in books1 %}
<div class="bookinfo">
<figure class="book">
    <div class="book__hero">
      <img src="{{ books.image_url}}" alt="Rambo" class="book__img">
    </div>
    <div class="book__content">
      <div class="book__title">
       
        <h1 class="heading__primary">{{ books.title }}</h1> 
       
   
        <div class="book__tag book__tag--1">{{ books.category }}</div>
        <div class="book__tag book__tag--2">{{ books.avg_age }}</div>
      </div>
 
      <p class="book__description">
       {{ books.description }}
      </p>
      <div class="book__author"> Written BY {{ books.author }}</div>
      <div class="book__author"> published  BY {{ books.publisher }}</div>
      <div class="book__details">
        <p class="book__detail"><span class="icons icons-red"><i class="fas fa-star"></i> </span>{{ books.avg_book_rating }}/10</p>
        <p class="book__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>  {{ books.year_of_publication }}</p>
        <p class="book__detail"><span class="icons icons-yellow">
          </span>  {{ books.isbn }}</p>
      </div>
    </div>
    <div class="book__price">$12.56</div>
  </figure>
</div>
{% endfor %}



<div class="titleblock">

    <h3>belong to </h3>
</div>
<div class="containerbk">
    

    <div class="boks">
    <section class="cardsbk">
        {% for book in books2 %}
        <article class="card card--1">
           
            <div class="card__img" style="background-image: url('{{ book.image_url }}');"></div>
            <a href="{% url 'bk_detail' iso=book.isbn  cid=book.category_id  %}" class="card_link">
                <div class="card__img--hover" style="background-image: url('{{ book.image_url }}');"></div>
            </a>
          
            <div class="card__info">
             
                <h class="card__title">{{ book.title }}</h3>

                <span class="card__by">by <a href="{{ book.image_url }}" 
                    class="card__author" title="author">{{ book.author }}</a></span>
                <div class="forcontener">
                    <div class="row">
                        
                       <i class="fa fa-star"> </i>    
                        <p>{{ book.avg_book_rating }}/10</p>
                 
                     
                     
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        


     
    </section>

</div>
</div>



{% endblock %}