

.navall{
    position: fixed;
    top: 0;
    width: 100%;
/* Example background color */
    color: #fff; /* Example text color */
    padding: 10px 0; /* Adjust padding as needed */
    z-index: 1000;

   background-color: #1fb634;
   box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

}


/* >>>>>>>>>>>>>>>>>>>>>>>>social midia <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.navbar {
    background-color: #0b5708; /* Dark green background color */

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
 
}
/* social midia  links  */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2; /* White text color */
    text-align: center;
 
    padding: 7px 35px;
    text-decoration: none;
    font-size: 18px;
    justify-content: space-around;
    border-radius: 30px;
    
}

/* on click */
.navbar a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black;
   
}


/* ..............................end social midia  ......................................................................*/



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> entr body <<<<<<<<<<<<<<<<<<<<<<  */


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> endentr body <<<<<<<<<<<<<<<<<<<<<<  */



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> nav start  <<<<<<<<<<<<<<<<<<<<<<  */

nav{


    position: fixed;
    top: 0;
    width: 100%;
/* Example background color */
    color: #fff; /* Example text color */
    padding: 10px 0; /* Adjust padding as needed */
    z-index: 1000;

   background-color: #1fb634;
   box-shadow: 3px 3px 5px rgba(0,0,0,0.1);



}
nav img {
    height: 80px;
    width: 80px;
    display:flow-root;
    margin-left: auto;
   
}

nav ul{
width: 100%;
list-style: none;
display: flex;
justify-content: flex-start;
align-items: center;

}
.logoo img {
    display: none;
    height: 60px;
    width: 60px; 
}

nav li {

    height: 60px;
   

}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
width:  100%;
}


nav a:hover{
    border-radius: 30px;
   background-color: #1fb634;
   


}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> mobile nav  <<<<<<<<<<<<<<<<<<<<<<  */

.slider {
position: fixed;

top: 121px;
right: 0;
height: 120vh;
width: 250px;
z-index: 1000;
 background-color: rgba(246, 246, 243, 0.605);
 backdrop-filter:blur(10px) ;
 box-shadow: -10px 0 10px #d0b7b70f;
display:none;
flex-direction: column;


}

.slider li{
    width: 100%;
    
}
.slider a {
    width: 100%;
}

.slid1{
    margin-left: auto;
   
 }

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> nav start  <<<<<<<<<<<<<<<<<<<<<<  */


.slidnav a:hover{
   
    color: #000000;
   background-color: #ffffff;
   


}
 .menu {
    display: none;
 }



/* Style for swper */

  
 



